<div class="modal" ui-if='modal2' ui-state='modal2'>
  <div class="modal-backdrop in"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-header">
        <button ng-click='close()' class="close" 
                ui-turn-off="modal2">&times;</button>   
      <h2 class="modal-title">Add Favorites</h2>     
      </div>
      
      <div class="modal-body">
      <form name="addForm">
      <h3 class="home-heading"><i class="fa fa-sun-o text-primary"></i> Enter Zip Code</h3> 
		<input type="text" ng-model="zipFav" name="zip" ng-pattern="/^\d{5}$/" class="form-control" placeholder="e.g. 33199" required>
		<div style="color:red" ng-messages="addForm.zip.$error"  ng-if="addForm.zip.$touched">
  		<div ng-message="required">Zip Code is required</div>
  		<div ng-message="pattern">Zip Code should contain 5 digits</div>
		</div>
		<br>
		<h3 class="home-heading"><i class="fa fa-sun-o text-primary"></i> Enter Nickname</h3> 
		<input type="text" ng-model="nickname" name="nickname" class="form-control" placeholder="e.g. Fav1" required>
		<div style="color:red" ng-messages="addForm.nickname.$error"  ng-if="addForm.nickname.$touched">
  		<div ng-message="required">Nickname is required</div>
  		</div>
		<br>
		</form>
							<span style="color:red" ng-bind="err3"></span>
		
		</div>
		
	  <div class="modal-footer" >
        <button ui-turn-off="modal2" ng-click='close()' class="btn btn-primary">Cancel</button>
      	<button ng-disabled="addForm.$invalid" class="btn btn-primary" ng-click='addFav(zipFav, nickname)''>Yes</button>
      </div>
     </div>
    </div>
  </div>
